[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/radiosound-com/LovyanGFX.git
	branch = out-of-bounds
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/radiosound-com/lvgl.git
	branch = v8.2-demos
